<div class="div">
    {{#if outcome}}
        <h1>Welcome back, {{userName}}</h1>
    {{else}}
        <h1>"Username/Password錯誤"</h1>
        <h6>
          <a href="/">重新登入</a>
        </h6>
    {{/if}}
</div>

